.event {
  margin-bottom: 1rem;
}

.event span.completed {
  text-decoration: line-through;
}

.event label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  padding: 1rem;
}

.event i {
  z-index: 2;
}
